<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div id="app">
			<table border="" cellspacing="" cellpadding="">
				<thead>
					<tr>
						<th>#</th>
						<td>书名</td>
						<td>作者</td>
						<td>价格</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item,index) in books" :key="index">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.author}}</td>
						<td>{{item.price}}</td>
					</tr>
					<tr>
						<td v-for="person in persons">
							{{person}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					persons: ["黄渤", "黄磊", "孙红雷", "罗志祥", "王迅", "张艺兴"],
					books: [{
						id: 1,
						author: '曹雪芹',
						name: '红楼梦',
						price: 32.0
					}, {
						id: 2,
						author: '施耐庵',
						name: '水浒传',
						price: 30.0
					}, {
						id: 3,
						author: '罗贯中',
						name: '三国演义',
						price: 24.0
					}, {
						id: 4,
						author: '吴承恩',
						name: '西游记',
						price: 20.0
					}]
				}
			});
		</script>
	</body>
	</html