<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<title>表格操作</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>

	<body class="">
		<div id="app" class="bg-grey pd20">
			<div class="table_box pd20 bg-white">
				<form class="form-inline" action="" method="">
					<div class="form-group">
						<label for="">添加：</label>
						<input type="text" class="form-control" v-model="person.name" placeholder="姓名">
						<input type="text" class="form-control" v-model="person.age" placeholder="年龄">
						<button type="button" class="btn btn-info" @click="add">添加</button>
					</div>
					<div class="form-group">
						<label for="">变色：</label>
						<button type="button" class="btn" :class="{'btn-info':!isHover,'btn-danger':isHover}" @click="toggleHover">
							<span v-if="isHover">关闭</span>
							<span v-else>开启</span>移入变色
						</button>
					</div>
				</form>
				<br />
				<!--表格-->
				<table class="table table-bordered" :class="{'table-hover':isHover}" id="chart">
					<thead>
						<tr>
							<td>ID</td>
							<td>姓名</td>
							<td>年龄</td>
							<td>操作</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item,index) in list">
							<td>{{item.id}}</td>
							<td>{{item.name}}</td>
							<td>{{item.age}}</td>
							<td>
								<a @click.prevent="remove(index)">删除</a>
							</td>
						</tr>
					</tbody>
				</table>
				<!--尾部操作-->
				<form class="form-inline" action="" method="">
					<div class="form-group">
						<label for="">搜索：</label>
						<input type="text" class="form-control" v-model="keyword" placeholder="姓名">
						<button type="button" class="btn btn-info" @click="search">搜索</button>
					</div>
					<div class="form-group">
						<label for="">排序：</label>
						<button type="button" class="btn btn-info" @click="sort">年龄从小到大排序</button>
					</div>
				</form>
			</div>
		</div>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: "#app",
				data: {
					//hover
					isHover: false,
					//表单
					person: {
						name: "",
						age: ''
					},
					//表格
					list: [{
						id: 1,
						name: "张三",
						age: 33
					}],
					//搜索
					keyword: ""
				},
				methods: {
					add: function() {
						//表单验证
						if(!this.person.name || !this.person.age) {
							alert("姓名/年龄不能为空！");
							return false;
						}
						//计算id
						this.person.id = this.list.length + 1;
						//添加新数据进数组
						this.list.push(this.person);
						//清空表单
						this.person = {
							name: "",
							age: ''
						};
					},
					remove: function(i) {
						this.list.splice(i, 1);
					},
					toggleHover: function() {
						this.isHover = !this.isHover;
					},
					sort: function() {
						this.list.sort(function(a, b) {
							return a.age - b.age;
						});
					},
					search: function() {

					}
				}
			})
		</script>
	</body>

</html>