<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>计算属性的set/get</title>
	</head>

	<body>
		<div id="app">
			<fieldset id="">
				<legend>计算属性的set/get</legend>
				<p>
					firstName: {{firstName}}
				</p>
				<p>
					lastName: {{lastName}}
				</p>
				<p>
					fullName: <input type="text" v-model="fullName" />
				</p>
			</fieldset>

			<fieldset>
				<legend>全选功能</legend>
				<table style="text-align: center;" width="100%" border="1" cellspacing="4" cellpadding="20">
					<thead>
						<tr>
							<th>
								<input type="checkbox" v-model="checkedAll">
							</th>
							<th>姓名</th>
							<th>年龄</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in students">
							<td>
								<input type="checkbox" v-model="item.checked" />
							</td>
							<td>{{item.name}}</td>
							<td>{{item.age}}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>

		<script src="lib/vue/vue.js"></script>
		<script>
			var app = new Vue({
				el: "#app",
				data: {
					firstName: "Tom",
					lastName: "Smith",
					students: [
						{ name: "黄小米", age: 25, checked: false },
						{ name: "黄磊", age: 45, checked: false },
						{ name: "张艺兴", age: 30, checked: false }
					]
				},
				computed: {
					checkedAll: {
						set: function(newValue) {
							this.students.forEach(function(item) {
								item.checked = newValue;
							});
						},
						get: function() {
							var num = 0;
							this.students.forEach(function(item, index) {
								if (item.checked) {
									num++;
								}
							});
							return num == this.students.length;
						}
					},
					fullName: {
						get: function() {
							return this.firstName + " " + this.lastName;
						},
						set: function(newValue) {
							var arr = newValue.split(' ');
							this.firstName = arr[0];
							this.lastName = arr[arr.length - 1];
						}
					}
				}
			});
		</script>
	</body>

</html>
