@charset "utf-8";
.cartbox{
	width: 960px;
	border: 1px solid #E0E0E0;
	margin: 0 auto;
}
.cartbox .cart_title{
	border-bottom:1px solid #E0E0E0 ;
	background-color: #f9f9f9;
	padding: 14px 0;
	
}
.cartbox .cart_title ul li{
	float: left;
    text-align: center;
}
.cartbox .cart_title ul li:first-child{
	width: 232px;
}
.cartbox .cart_title ul li:nth-child(2){
	width: 136px;
}
.cartbox .cart_title ul li:nth-child(3){
	width: 145px;
}
.cartbox .cart_title ul li:nth-child(4){
	width: 100px;
	padding-right: 15px;
}
.cartbox .cart_title .culling{
	padding-left: 14px;
	font-size: 16px;
	color: #f10180;
}

.cart_add{
	padding-top: 5px;
	margin: 0 15px;
	border-bottom: 1px dashed #E0E0E0;
}
.cart_add .product-item{
	padding: 15px 0 0 10px;
	width: 273px;
	position: relative;
}
.cart_add .product-item .photo{
	display: inline-block;
	width:58px ;
	height:75px ;
	background-color: aqua;
}
.photo img{
	width: 100%;
	height: 100%;
}
.product-item .product_tit{
	color: #f10180;
	padding-left: 15px;
	width: 170px;
	position: absolute;
	top: 15px;
	right: 30px;
	display: inline-block;
} 
.product-item .product_tit span{
	color: black;
}
.price-item{
	padding-top:15px ;
	width: 300px;
	text-align: center;
}
.quantity-item{
	padding-top:15px ;
	margin-right: 17px;
	text-align: center;
}
.quantity-item .sum_box{
	text-align: center;
	line-height: 22px;
	border: 1px solid #e3e2e2;
}
.quantity-item .sum_box .minus{
	display: inline-block;
	width: 22px;
	height: 22px;
	border-right: 1px solid #e3e2e2 ;
	cursor: pointer;
}
.quantity-item .sum_box .num{
	display: inline-block;
    width: 28px;
    height: 22px;
	border-right: 1px solid #e3e2e2 ;
}
.quantity-item .sum_box .add{
	display: inline-block;
	width: 22px;
	height: 22px;
	cursor: pointer;
}
.subtotal-item{
	padding-top:15px ;
	width: 145px;
	text-align: center;
}
.actions-item{
	padding-top:15px ;
	width: 100px;
	text-align: center;
}
.carriage{
	padding: 15px 15px;

}
