.counter-box {
	display: inline-flex;
	align-items: center;
	text-align: center;
}

.counter-box .num {
	min-width: 60px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	line-height: 33px;
}

.counter-box button {
	background-color: white;
	padding: 6px 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 18px;
	outline: 0;
}

.counter-box button[disabled] {
	border-color: #eee;
}

.counter-box .down {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.counter-box .up {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
