* {
	margin: 0;
	padding: 0;
}

.goods-list .photo {
	display: block;
}

@media screen and (min-width:1200px) {
	html {
		font-size: 54px;
	}

	.container {
		width: 22.22rem;
		margin: 0 auto;
	}

	.sort-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.7rem 0 0.3rem 0;
		border-bottom: 1px solid #EEEEEE;
	}

	.sort-bar .right {
		font-size: 0.22rem;
		color: #b29560;
	}

	.sort-bar .left {
		font-size: 0.26rem;
		color: #666666;
		display: flex;
		align-items: center;
	}

	.sort-bar .left .line {
		margin: 0 0.35rem;
		height: 0.2rem;
		border-right: 1px solid #EEEEEE;
	}

	.goods-list .photo {
		border-bottom: 1px solid #eee;
	}

	.goods-list .name {
		font-size: 0.26rem;
		color: #333333;
		padding: 0.37rem 0 0.33rem 0;
	}

	.goods-list .des {
		color: #D93E3E;
		padding-bottom: 0.44rem;
	}

	.goods-list .data-box {
		display: flex;
		flex-wrap: wrap;
		text-align: left;
		padding: 0 0.56rem 0.43rem 0.56rem;
	}

	.data-box .price,
	.data-box .score {
		width: 2.2rem;
	}

	.data-box .score {
		margin-top: 0.22rem;
		font-size: 0.3rem;
		color: #be4141;
	}

	.data-box .exchange {
		margin-top: 0.31rem;
	}

	.goods-list .item {
		width: 5.19rem;
		text-align: center;
		font-size: 0.22rem;
		color: #666666;
		margin: 0 0.43rem 0.37rem 0;
		border: 1px solid #e5e5e5;
	}

	.goods-list {
		padding-top: 0.56rem;
		display: flex;
		flex-wrap: wrap;
	}

	.goods-list .item:nth-child(4n) {
		margin-right: 0;
	}
}

@media screen and (min-width:992px) and (max-width:1200px) {
	html {
		font-size: 54px;
	}

	.container {
		width: 18.26rem;
		margin: 0 auto;
	}

	.sort-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.7rem 0 0.3rem 0;
		border-bottom: 1px solid #EEEEEE;
	}

	.sort-bar .right {
		font-size: 0.22rem;
		color: #b29560;
	}

	.sort-bar .left {
		font-size: 0.26rem;
		color: #666666;
		display: flex;
		align-items: center;
	}

	.sort-bar .left .line {
		margin: 0 0.35rem;
		height: 0.2rem;
		border-right: 1px solid #EEEEEE;
	}

	.goods-list .photo {
		border-bottom: 1px solid #eee;
	}

	.goods-list .name {
		font-size: 0.26rem;
		color: #333333;
		padding: 0.37rem 0 0.33rem 0;
	}

	.goods-list .des {
		color: #D93E3E;
		padding-bottom: 0.44rem;
	}

	.goods-list .data-box {
		display: flex;
		flex-wrap: wrap;
		text-align: left;
		padding: 0 0.56rem 0.43rem 0.56rem;
	}

	.data-box .price,
	.data-box .score {
		width: 2.2rem;
	}

	.data-box .score {
		margin-top: 0.22rem;
		font-size: 0.3rem;
		color: #be4141;
	}

	.data-box .exchange {
		margin-top: 0.31rem;
	}

	.goods-list .item {
		width: 5.89rem;
		text-align: center;
		font-size: 0.22rem;
		color: #666666;
		margin: 0 0.22rem 0.37rem 0;
		border: 1px solid #e5e5e5;
	}

	.goods-list {
		padding-top: 0.56rem;
		display: flex;
		flex-wrap: wrap;
	}

	.goods-list .item:nth-child(3n) {
		margin-right: 0;
	}
}

@media screen and (min-width:768px) and (max-width:992px) {
	html {
		font-size: 54px;
	}

	.container {
		width: 13.52rem;
		margin: 0 auto;
	}

	.sort-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.93rem 0 0.3rem 0;
		border-bottom: 1px solid #EEEEEE;
	}

	.sort-bar .right {
		font-size: 0.22rem;
		color: #b29560;
	}

	.sort-bar .left {
		font-size: 0.22rem;
		color: #666666;
		display: flex;
		align-items: center;
	}

	.sort-bar .left .line {
		margin: 0 0.35rem;
		height: 0.2rem;
		border-right: 1px solid #EEEEEE;
	}

	.goods-list .photo {
		border-bottom: 1px solid #eee;
	}

	.goods-list .name {
		font-size: 0.26rem;
		color: #333333;
		padding: 0.33rem 0 0.13rem 0;
	}

	.goods-list .des {
		color: #D93E3E;
		padding-bottom: 0.41rem;
	}

	.goods-list .data-box {
		display: flex;
		flex-wrap: wrap;
		text-align: left;
		padding: 0 0.33rem 0.24rem 0.33rem;
	}

	.data-box .price,
	.data-box .score {
		width: 2.4rem;
	}

	.data-box .score {
		margin-top: 0.22rem;
		font-size: 0.3rem;
		color: #be4141;
	}

	.data-box .exchange {
		margin-top: 0.31rem;
	}

	.goods-list .item {
		width: 4.33rem;
		text-align: center;
		font-size: 0.22rem;
		color: #666666;
		margin: 0 0.17rem 0.19rem 0;
		border: 1px solid #e5e5e5;
	}

	.goods-list {
		padding-top: 0.56rem;
		display: flex;
		flex-wrap: wrap;
	}

	.goods-list .item:nth-child(3n) {
		margin-right: 0;
	}
}

/* 手机端 */
@media screen and (max-width:768px) {
	html {
		/* 相当于100px */
		font-size: 13.33333vw;
	}

	.sort-bar .left {
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 0.28rem;
		color: #666666;
		padding: 0.61rem 0 0.23rem 0;
	}

	.sort-bar .line {
		height: 0.2rem;
		border-right: 1px solid #e5e5e5;
	}

	.phone-hide {
		display: none;
	}

	.goods-list .item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 0.24rem;
		padding: 0.25rem 0.3rem;
		border-bottom: 1px solid #EEEEEE;
	}

	.goods-list .photo {
		width: 4rem;
		padding-right: 0.3rem;
	}

	.goods-list .name {
		color: #333333;
		font-size: 0.28rem;
		padding-bottom: 0.21rem;
	}

	.goods-list .des {
		font-size: 0.2rem;
		color: #d93e3e;
		padding-bottom: 0.25rem;
	}

	.goods-list .data-box {
		font-size: 0.24rem;
		color: #666666;
	}

	.data-box {
		display: flex;
		flex-wrap: wrap;
	}

	.data-box .price,
	.data-box .inventory,
	.data-box .exchange {
		width: 100%;
		margin-bottom: 0.14rem;
	}

	.data-box .inventory {
		order: 1;
	}

	.data-box .exchange {
		order: 2;
	}

	.data-box .price {
		order: 3;
	}

	.data-box .score {
		width: 100%;
		font-size: 0.3rem;
		color: #be4141;
		order: 4;
	}
}
