/* Write your styles */

.white {
	color: #FFFFFF;
}

.bg_white {
	background-color: #FFFFFF;
}

.grey {
	color: #a6a6ad;
}

.dark_blue {
	color: #38474f;
}

.bg_grey {
	background-color: #e8e8e8;
}

.bg_dark_blue {
	background-color: #38474f;
}

.bg_light_blue {
	background-color: #67b0d6;
}

.relative {
	position: relative;
}

.cart_badge {
	position: absolute;
	top: 10px;
	right: -10px;
}

.search_box input[type=text] {
	border-radius: 4px;
}