@charset "utf-8";
.banner {
	padding: 0;
}

.tittle1 {
	font-size: 1.8rem;
	padding-top: 15%;
}

.tittle2 li a {
	color: #333333;
}

.tittle2 li a:hover {
	text-decoration: none;
	color: #d63d57;
}

.pink {
	color: #d63d57;
}

.white {
	color: white;
}

.photo {
	padding: 0.5rem 0.1rem;
}

.bg-pink {
	background-color: #d63d57;
}

.fs {
	font-size: 1.8rem;
}

.tmenu {
	margin: 10px;
}

.syp {
	margin: 10px 0;
}

.chp {
	margin: 10px 0;
}
.beatuful{
	padding: 20px;
	background-color: #FDF4F5;
}
.photo1 {
	margin-right: 25px;
	margin-bottom: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
	.tmenu {
		margin: 10px;
	}
	.tittle2 li a {
		padding-top: 25px;
	}
	.photo img {
		margin: 0 auto;
	}
	.photo span {
		margin: 10px auto;
	}
	.photo1,
	.photo2 {
		padding: 10px;
	}
}

@media only screen and (min-width: 1200px) {
	.tittle2 {
		margin-top: 40px;
	}
	.tittle3 {
		padding: 10px 0;
	}
	.chp img {
		margin-left: 150px;
	}
}

//

/*公共类*/

* {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}

html {
	font-size: 100px;
}

em {
	font-style: normal;
}

.disc {
	list-style-type: disc;
	list-style-position: inside;
	font-size: 14px;
	margin: 6px 0;
}

.clearfix {
	clear: both;
}

.txt-center {
	text-align: center;
}

span {
	color: #d63d57;
}

a {
	text-decoration: none;
	color: #333333;
}

a:hover {
	text-decoration: none;
	color: #d63d57;
}


/*公共类结束*/

.beatuful img {
	vertical-align: middle;
}

h2 {
	display: inline;
	vertical-align: middle;
	font-size: 20px;
}

.miracle {
	position: relative;
	padding: 15px 0px;
}

.miracle .shu01 {
	position: absolute;
	top: 75px;
	right: -67px;
	padding: 5px;
	background: #ffffff;
	color: #d63d57;
}

.miracle .shu02 {
	position: absolute;
	top: 100px;
	left: -68px;
	padding: 5px;
	background: #ffffff;
	color: #d63d57;
}

.detail {
	padding: 0;
	margin: 20px 0px;
}

.desc img {
	width: 100%;
}

.compare {
	padding: 15px 0;
}

.sen {
	padding: 15px 0;
	background-color: #ffffff;
}

.recommend {
	padding: 30px 2px;
}

.recommend-pra {
	margin-bottom: 100px;
}

.beat {
	width: 100%;
}

.box {
	margin-left: 117px;
}


/*公共尾部*/

.tail {
	width: 100%;
	background-color: #444;
}

.left img {
	padding: 32px 0 24px 0;
}

.middlo ul {
	width: 520px;
	margin: 0;
	padding: 0;
}

.middlo ul li {
	width: 6.5rem;
	margin-right: 2.1rem;
}

.middlo ul li a {
	color: #aaa;
	font-size: 1.6rem;
}

.middlo ul span {
	width: 0.1rem;
	height: 1.7rem;
	margin-top: 0.3rem;
	margin-right: 2.1rem;
	background-color: #555;
}

.text p {
	color: #a78c58;
	font-size: 14px;
}

.text p span {
	width: 20px;
	height: 27px;
	vertical-align: middle;
	margin-right: 15px;
}

.right {
	width: 380px;
}

.text-2 {
	text-align: center;
	color: #aaaaaa;
	font-size: 16px;
	margin-top: 43px;
}

.tail-2 {
	width: 100%;
	background-color: #555555;
	font-size: 12px;
	color: #959595;
	margin: 0 auto;
}

.tail-2 span {
	margin-right: 15px;
}

@media only screen and (min-width: 100px) and (max-width: 640px) {
	html {
		font-size: 10px;
	}
	.row h2 {
		font-size: 20px;
	}
	.miracle {
		position: relative;
		padding: 0.75rem 0rem;
	}
	.miracle .shu01 {
		top: 1.5rem;
		right: -5.5rem;
		padding: 0.25rem;
	}
	.miracle .shu02 {
		top: 5rem;
		left: -5.4rem;
		padding: 0.25rem;
	}
	.title img {
		width: 2.2rem;
		height: 2.8rem;
	}
	.miracle img {
		width: 12.5rem;
		height: 8.1rem;
	}
	.detail {
		margin: 1rem 0;
	}
	.desc img {
		width: 100%;
	}
	.compare {
		padding: 0.75rem 0;
	}
	.senxi {
		padding: 0.75rem 0;
	}
	.recommend {
		padding: 1.5rem 0.1rem;
	}
	.recommend-pra {
		margin-bottom: 5rem;
	}
	.dream {
		padding: 0;
	}
	.dream .s1 {
		width: 1.3rem;
		height: 0.8rem;
	}
	.dream .s2 {
		width: 8.75rem;
		height: 7.85rem;
	}
	.dream .s3 {
		width: 8.75rem;
		height: 9.8rem
	}
	.dream .s4 {
		width: 11rem;
		height: 17.2rem;
	}
	.box {
		/*width:700px;*/
		overflow-x: hidden;
	}
	.left {
		width: 100%;
		text-align: center;
	}
	.left img {
		width: 5.6rem;
		margin-left: -1.5rem;
		margin-top: -2rem;
	}
	.middlo {
		width: 100%;
		text-align: center;
		margin-top: -2.5rem;
	}
	.middlo ul {
		width: 52rem;
		margin-left: -8.5rem;
		display: none;
	}
	.middlo ul li {
		width: 100%;
	}
	.middlo ul li a {
		color: #aaa;
		font-size: 1.6rem;
	}
	.middlo ul span {
		display: none;
	}
	.text {
		/*	margin-top: 3.2rem;*/
	}
	.text p {
		color: #a78c58;
		font-size: 1.4rem;
	}
	.text p span {
		width: 2rem;
		height: 2.7rem;
		vertical-align: middle;
		margin-right: 1.5rem;
	}
	.text .ding {
		background: url(../img/zhishi_ding.jpg) no-repeat;
		margin-left: -2.5rem;
	}
	.text .dian {
		background: url(../img/zhishi_dian.jpg) no-repeat;
		margin-left: -2.5rem;
	}
	.right {
		width: 100%;
		text-align: center;
		display: none;
	}
	.text-2 {
		/*text-align: center;*/
		color: #aaaaaa;
		font-size: 1.6rem;
		margin-left: 8rem;
		margin-top: 1rem;
	}
	.text-2 p {
		width: 100%;
	}
	.tail-2 {
		display: none;
	}
	.hidden-xs {
		display: none;
	}
	.zhy {
		display: none;
	}
}

@media only screen and (min-width:1200px) {
	.box {
		width: 700px;
		overflow-x: hidden;
	}
	.container {
		width: 700px;
	}
	.miracle {
		padding: 15px 0px;
	}
	h2 {
		font-size: 20px;
	}
	html {
		font-size: 12px;
	}
	.fl {
		float: left;
	}
	.fr {
		float: right;
	}
	.clear {
		_zoom: 1;
		clear: both;
	}
	.clear:after {
		content: '\0020';
		display: block;
		clear: both;
		height: 0;
	}
	/*底部*/
	/*.fl {
		float: left;
	}*/
	.tail {
		width: 100%;
		background-color: #444;
	}
	.content {
		width: 1100px;
		margin: 0 auto;
	}
	.left img {
		padding: 32px 0 24px 0;
	}
	.middlo {
		width: 555px;
		border-right: 1px solid #333333;
		margin-top: 50px;
		margin-left: 40px;
	}
	.middlo ul {
		width: 520px;
		margin: 0;
		padding: 0;
	}
	.middlo ul li {
		width: 65px;
		margin-right: 21px;
	}
	.middlo ul li a {
		color: #aaa;
		font-size: 16px;
	}
	.middlo ul span {
		display: block;
		width: 2px;
		height: 17px;
		margin-top: -20px;
		margin-left: 75px;
		background-color: #555;
	}
	.text {
		margin-top: 32px;
	}
	.text p {
		color: #a78c58;
		font-size: 1.4rem;
	}
	.text p span {
		width: 2rem;
		height: 2.7rem;
		vertical-align: middle;
		margin-right: 1.5rem;
	}
	.right {
		width: 380px;
	}
	.right span {
		width: 121px;
		height: 121px;
		margin: 46px 12px 22px 27px;
	}
	.text-2 {
		text-align: center;
		color: #aaaaaa;
		font-size: 16px;
		margin-top: 43px;
	}
	.text-2 p {
		padding-top: 16px;
	}
	.tail-2 {
		width: 100%;
		background-color: #555555;
		font-size: 12px;
		color: darkgray;
		margin: 0 auto;
	}
	.tail-2 span {
		margin-right: 15px;
		color: darkgray;
	}
}