@charset "utf-8";

/**/

.foot {
	width: 100%;
	height: 190px;
	background-color: #444444;
}

.foot_center_right {
	float: left;
}

.foot_center_center ul li {
	color: #aaaaaa;
	font-size: 14px;
	padding: 0 15px;
}

.foot_center_center span {
	font-size: 13px;
	color: #c8a35e;
}

.border_right {
	border-right: 1px solid #aaaaaa;
}

.dd {
	margin-left: 58px;
	margin-top: 46px;
}

.ull {
	text-align: center;
	margin-top: 78px;
}

.ull li {
	color: #aaaaaa;
}

.bott {
	width: 100%;
	background-color: #555555;
	padding: 0 0 0 16%;
}

.fS-14 {
	font-size: 14px;
}

.clearfix {
	content: "";
	clear: both;
}

.fl {
	float: left;
}

.weizhi {
	width: 100%;
}

.localtion li {
	width: 100%;
	padding: 10px 0;
	margin: 10px 0;
}

.localtion li i {
	width: 25px;
	height: 25px;
	float: left;
	display: inline-block;
}

.localtion li .tubiao1 {
	background-image: url(../img/gongjiao_03.png);
	background-repeat: no-repeat;
	background-position: -4px 0;
}

.localtion li .tubiao2 {
	background-image: url(../img/QQchuzu_06.png);
	background-repeat: no-repeat;
	background-position: -5px 0;
}

.localtion li span {
	display: block;
	font-size: 14px;
	height: auto;
	background: none;
}

@media only screen and (min-width: 1001px) {
	#allmap {
		width: 100%;
		height: 400px;
		margin-top: 30px;
	}
	.sl {
		margin-top: 55px;
		margin-bottom: 38px;
	}
	.sa {
		margin-bottom: 15px;
	}
	.localtion li span {
		width: 75%;
		margin: 2px 0 0 20px;
	}
	.ss {
		float: left;
		margin-top: 33px;
	}
	.foot_center_center {
		float: left;
		margin-left: 46px;
	}
	.bott li {
		float: left;
		color: #aaa;
		font-size: 12px;
		padding: 0 20px;
		margin: 9px 0;
	}
	.foot_center {
		width: 1000px;
		height: 190px;
		margin: 0 auto;
	}
	.lia {
		margin-top: 20px;
	}
	.footer-topbox {
		width: 70%;
		height: 120px;
		border: 1px solid #444444;
		margin: 0 auto;
	}
	.ulA li {
		float: left;
	}
	.dz span {
		float: left;
	}
	.dz img {
		float: left;
	}
	.dh span {
		float: left;
	}
	.dh img {
		float: left;
	}
	.ula {
		margin: 50px 0 0 10px;
	}
	.ula li {
		width: 100px;
		height: 25px;
		border-right: 1px solid #555555;
		text-align: center;
		color: #aaaaaa;
		cursor: pointer;
	}
	.ula li:last-child {
		border: none;
	}
	.lx {
		width: 350px;
		height: 60px;
		margin: 25px 0 0 25px;
	}
	.dz,
	.dh {
		display: block;
		margin-top: 10px;
	}
	.lic {
		width: 1px;
		height: 115px;
		background-color: #333333;
		margin: 50px 0 0 10px;
	}
	.lid {
		padding: 40px 0 0 30px;
	}
	.lie {
		font-size: 15px;
		padding: 65px 0 0 5px;
		text-align: center;
		color: #aaaaaa;
	}
	.footer-bottom {
		width: 100%;
		height: 32px;
		background-color: #555555;
		font-size: 14px;
		line-height: 32px;
		padding-left: 20%;
		color: #aaaaaa;
	}
}

@media only screen and (min-width: 640px) and (max-width: 1000px) {
	.hezi {
		width: 100%;
		margin-top: 0.3rem;
	}
	#allmap {
		width: 70%;
		height: 300px;
	}
	.sl {
		margin-top: 55px;
		margin-bottom: 38px;
	}
	.sa {
		margin-bottom: 15px;
	}
	.ss {
		float: left;
		margin-top: 33px;
	}
	.localtion {
		width: 60%;
	}
	.localtion li {
		margin: 20px 0;
	}
	.foot_center_right {
		display: none;
	}
	.ss {
		margin-left: 10%;
	}
	.foot_center {
		width: 100%;
	}
	.bott li {
		float: left;
		color: #aaa;
		font-size: 12px;
		padding: 0 10px;
		margin: 9px 0;
	}
	.foot_center_center {
		float: left;
		margin-left: 10px;
	}
	.boot {
		display: none;
	}
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
	.hezi {
		width: 100%;
	}
	.sp2 {
		margin: -0.2rem 0 0 0.2rem;
	}
	.sp1 {
		margin: -0.2rem 0 0 0.2rem;
	}
	#allmap {
		width: 100%;
		height: 250px;
		margin-top: 0.1rem;
		margin-left: 0.13rem;
	}
	.localtion {
		width: 100%;
	}
	.ss {
		width: 10%;
		height: 10%;
		margin-left: 45%;
		margin-top: 20px;
	}
	.bott {
		display: none;
	}
	.foot_center_right {
		display: none;
	}
	.sa {
		margin-left: 20%;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.sd {
		margin-left: 20%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
	.localtion li i {
		margin: 0px 0;
	}
}

body {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

.fl {
	float: left;
}

em {
	font-style: normal;
	display: inline-block;
	margin-right: 10px;
}

.footer {
	width: 100%;
	height: 222px;
}

.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

.footer-top {
	height: 190px;
	background-color: #444444;
}

@media only screen and (min-width: 600px)and(max-width:1000px) {
	em {
		font-style: normal;
		display: inline-block;
		margin-right: 10px;
	}
	.footer {
		width: 100%;
		height: 222px;
	}
	.footer-top {
		height: 190px;
		background-color: #444444;
	}
	.lia {
		margin-top: 20px;
	}
	.footer-topbox {
		width: 75%;
		height: 120px;
		border: 1px solid #444444;
		margin: 0 auto;
	}
	.ulA li {
		float: left;
	}
	.ula {
		margin: 50px 0 0 10px;
	}
	.ula li {
		width: 100px;
		height: 25px;
		border-right: 1px solid #555555;
		text-align: center;
		color: #aaaaaa;
		cursor: pointer;
	}
	.ula li:last-child {
		border: none;
	}
	.lx {
		width: 300px;
		height: 60px;
		padding: 50px 0 0 40px;
	}
	span {
		display: block;
		margin: -25px 0 13px 30px;
		color: #c8a35e;
	}
	.lic {
		width: 1px;
		height: 115px;
		background-color: #333333;
		margin: 50px 0 0 10px;
	}
	.lid {
		padding: 40px 0 0 30px;
	}
	.lie {
		font-size: 15px;
		padding: 65px 0 0 5px;
		text-align: center;
		color: #aaaaaa;
	}
	.footer-bottom {
		width: 100%;
		height: 32px;
		background-color: #555555;
		font-size: 14px;
		line-height: 32px;
		padding-left: 20%;
		color: #aaaaaa;
	}
}