@charset "utf-8";

/*导航*/

html {
	font-size: 10px;
}

a {
	color: #666666;
}

.container-fix {
	padding: 0 15px;
}

a:hover {
	text-decoration: none;
}

header {
	z-index: 10;
}

.mynav {
	padding: 18px 0;
	font-size: 0.14rem;
}

.mainnav {
	/*border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-top: -2rem;*/
	font-size: 16px;
}

.mainnav li {
	padding: 13px 42px;
}

.mainnav .row li>a {
	text-decoration: none;
	color: #fff;
}

.font-white {
	color: #fff;
}

.font-red {
	color: #a32339;
}

.bg-hei {
	background: #444444;
}

.bg-orange {
	background: #c8a35e;
}

.font-gray {
	color: #666666;
}

.relative {
	position: relative;
}

.verticla-align {
	vertical-align: middle;
}

.mynav em {
	font-style: normal;
	font-weight: bold;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.font-40 {
	font-size: 2rem;
	line-height: 0.4rem;
}

.tel {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/tel.png) no-repeat 0 1px;
}

.share {
	display: inline-block;
	margin-left: 5px;
	height: 24px;
	width: 24px;
}

.qqqone {
	background: url(../img/qqqone.png) no-repeat;
}

.qq {
	background: url(../img/qq.png) no-repeat;
}

.weixin {
	background: url(../img/weixin.png) no-repeat;
}

.weibo {
	background: url(../img/weibo.png) no-repeat;
}

.mainnav .row .logo {
	padding: 0 4px;
	margin-top: -57px;
}


/*底部*/

footer.container-fluid {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0.3rem;
}

.footer-body {
	width: 10rem;
	margin: 0 auto;
}

.dec {
	font-size: 0.12rem;
}

.dec:first-child {
	margin-top: 0.45rem;
}

.line {
	border-left: 1px solid #333333;
	border-right: 1px solid #494949;
	position: absolute;
	left: 0;
	top: 10px;
	height: 110px;
	width: 3px;
	background: #4f4f4f;
	display: inline-block;
}

.list {
	padding: 25px 0 15px 40px;
}

.list .item {
	padding: 0 20px;
	font-size: 14px;
	border-right: 1px solid #919191;
	box-sizing: border-box;
}

.list .item:first-child {
	padding: 0 20px 0 0;
}

.list .item:last-child {
	padding: 0 0 0 20px;
	border: none;
}

.logo-box {
	padding: 0;
}

.erweima-box {
	margin: 0.15rem 0 0.2rem 0;
	padding-right: 0;
	text-align: right;
}

.dizhi {
	padding: 8px 40px;
	font-size: 12px;
	color: #9f8656;
}

.dianhua {
	padding: 12px 40px;
	font-size: 12px;
	color: #9f8656;
}

.dizhi p {
	margin: 0;
	padding-top: 4px;
}

.dianhua p {
	margin: 0;
	padding-top: 4px;
}

.dizhi span {
	display: block;
	width: 20px;
	height: 24px;
	vertical-align: middle;
	background: url(../img/diidan.png) no-repeat;
}

.dianhua span {
	display: block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/dianhua.png) no-repeat;
}

.foot-bottom {
	margin: 0;
	text-align: center;
	color: #fff;
	width: 100#;
	background: #555555;
}

.medicalMenu {
	position: absolute;
	top: 48px;
	left: 0;
	width: 100%;
	background-color: #D3B781;
}

.medicalMenu>.row a {
	color: #894D1F;
	padding: 10px 0px;
	display: inline-block;
}

@media only screen and (min-width:992px) {
	html {
		font-size: 14px;
	}
	.mainnav .row li {
		float: left;
	}
	.mainnav.collapse {
		display: block;
	}
}

@media only screen and (min-width:320px)and (max-width:992px) {
	.footer-body {
		width: auto;
		margin: 0 auto;
	}
	.dizhi {
		margin-left: 0.5rem;
	}
	.dianhua {
		margin-left: 0.5rem;
	}
	.erweima-box {
		text-align: left;
	}
	.logo {
		display: none;
	}
	.mainnav {
		position: absolute;
		width: 100%;
		border-top-left-radius: 0.05rem;
		border-top-right-radius: 0.05rem;
		margin-top: 0;
	}
	.mainnav li {
		margin: 5px;
		padding: 13px 0;
		cursor: pointer;
	}
	.shoujinav {
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.shoujinav li a,
	.mainnav li a {
		display: inline-block;
		width: 100%;
		height: 100%;
		color: #fff;
	}
	.medicalMenu {
		position: relative;
		top: 0px;
		margin-top: 13px;
	}
}