/* 公共类 */
.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	clear: both;
}

/* 它内部的所有元素左右居中 */
.container {
	width: 1100px;
	margin: 0 auto;
}

.nav {
	background-color: #000000;
}

.banner {
	background-color: pink;
}
.banner .right{
	width: 152px;
}
