.icon {
	background: url(../img/sprite.png) no-repeat;
	display: inline-block;
}

.icon-sina {
	width: 33px;
	height: 27px;
	background-position: -231px -135px;
}

.icon-qq {
	width: 28px;
	height: 29px;
	background-position: -380px -135px;
	background: url(../img/sprite2.png) no-repeat;
}