.container {
	width: 1000px;
	margin: 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	clear: both;
}

.title-box {
	border-left: 6px solid #d30000;
	padding-left: 21px;
}

.title-box .title {
	font-size: 27px;
	color: #000000;
	margin-bottom: 11px;
}

.title-box .subtitle {
	font-size: 12px;
	color: #6B6B6B;
	width: 462px;
}

.quality-box .name {
	margin-top: 21px;
	font-size: 14px;
	color: #6b6b6b;
}

.quality-box .en {
	font-size: 12px;
	color: #6b6b6b;
	margin-top: 9px;
}

.quality-box .item {
	width: 221px;
	margin-right: 38px;
	text-align: center;
}

.quality-box .content {
	padding-top: 40px;
	padding-bottom: 84px;
	width: 1038px;
}
