html,
body {
	font-family: '微软雅黑', '仿宋体', "Times New Roman", Times, serif;
}

.fl {
	float: left;
}

.clear {
	clear: both;
}

.text {
	display: inline-block;
}

.vertical-mid {
	vertical-align: middle;
}

.title {
	font-weight: normal;
}
