<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>倒计时</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>

<body>
	<div id="app" class="container text-center">
		<form class="form-inline" style="padding-top: 60px;">
			<div class="form-group">
				<label for="total">总秒数：</label>
				<input type="text" class="form-control" v-model="total" id="total" placeholder="填写总秒数">
			</div>
			<button type="button" @click="start" class="btn btn-success">开始</button>
			<div class="form-group">
				<label for="tick">倒计时：</label>
				<input type="text" class="form-control" v-model="tick" id="tick" placeholder="倒计时">
			</div>
		</form>
	</div>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: "#app",
			data: {
				total: 0,
				tick: 0,
				clock: '',
			},
			methods: {
				start: function () {
					clearInterval(this.clock);
					if (this.total <= 0) {
						alert("请填写大于0的整数！");
						return false;
					}
					this.tick = this.total;
					var self = this;
					this.clock = setInterval(function () {
						if (self.tick > 1) {
							self.tick--;
						} else {
							self.tick = 0;
							clearInterval(self.clock);
						}
					}, 1000);
				}
			}
		});
	</script>
</body>

</html>