<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>学生成绩表</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
	<div id="app" class="container">
		<div class="card mb-3">
			<div class="card-header bg-dark text-white">
				作业要求
			</div>
			<div class="card-body">
				<ol>
					<li>渲染表格的数据，并显示每一个学生的总分，<b class="text-danger">PS</b>:并不需要添加总分这一字段。</li>
					<li>在表单中填写数据，点击录入按钮，插入新的学生成绩。</li>
					<li>点击表格的表头（数学、语文、英语），对应的数据按照从大到小排序，<b class="text-danger">再次点击</b>从小到大排序。</li>
					<li>选择班级，填入学生姓名，点击搜索按钮，<b class="text-danger">高亮</b>显示符合条件的学生</li>
					<li>选择科目，填入分数最小值，最大值，验证两个数值大小顺序，点击筛选按钮，<b class="text-danger">高亮</b>符合条件的学生</li>
					<li><b class="text-danger">附加题</b>：选择科目，填入分数最小值，最大值，验证两个数值大小顺序，点击筛选按钮，<b
							class="text-danger">只显示</b>符合条件的学生</li>
				</ol>
			</div>
		</div>
		<div class="card mb-3">
			<div class="card-header text-white bg-dark">
				录入成绩
			</div>
			<div class="card-body">
				<form>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">姓名：</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" v-model.trim="formData.name" placeholder="请输入学生姓名">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">班级：</label>
						<div class="col-sm-10">
							<select class="form-control" v-model="formData.class">
								<option value="三年级1班">三年级1班</option>
								<option value="三年级2班">三年级2班</option>
								<option value="三年级3班">三年级3班</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">数学：</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" v-model.number="formData.Math"
								placeholder="请输入数学成绩">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">语文：</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" v-model.number="formData.Chinese"
								placeholder="请输入语文成绩">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">英语：</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" v-model.number="formData.English"
								placeholder="请输入英语成绩">
						</div>
					</div>
					<div class="form-group">
						<button @click="insertHandle" type="button" class="btn btn-primary">录入</button>
					</div>
				</form>
			</div>
		</div>
		<div class="card mb-3">
			<div class="card-header text-white bg-dark">
				筛选搜索
			</div>
			<div class="card-body">
				<form>
					<div class="form-group row">
						<label class="col-sm-1 col-form-label">搜索</label>
						<div class="input-group col-sm-5">
							<select class="form-control" v-model="keyClass">
								<option disabled value="">请选择班级</option>
								<option value="三年级1班">三年级1班</option>
								<option value="三年级2班">三年级2班</option>
								<option value="三年级3班">三年级3班</option>
							</select>
						</div>
						<div class="input-group col-sm-6">
							<input type="text" v-model.trim="keyName" class="form-control" placeholder="请输入学生姓名">
							<div class="input-group-append">
								<button @click="searchHandle" class="btn btn-primary" type="button">搜索</button>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-1 col-form-label">筛选</label>
						<div class="input-group col-sm-5">
							<div class="input-group-prepend">
								<select class="form-control" v-model="subject">
									<option value="Math">数学</option>
									<option value="Chinese">语文</option>
									<option value="English">英语</option>
								</select>
							</div>
							<input type="text" class="form-control" v-model.number="min" placeholder="分数最小值">
						</div>
						<div class="col-sm-1 text-center">——</div>
						<div class="input-group col-sm-5">
							<input type="text" class="form-control" v-model.number="max" placeholder="分数最大值">
							<div class="input-group-append">
								<button @click="filterHandle" class="btn btn-primary" type="button">筛选</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th>班级</th>
					<th>姓名</th>
					<th @click="sortHandle('Math')">数学</th>
					<th @click="sortHandle('Chinese')">语文</th>
					<th @click="sortHandle('English')">英语</th>
					<th>总分</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item,index) in scores" :class="{'table-success':item.active}">
					<td>{{index + 1}}</td>
					<td>{{item.class}}</td>
					<td>{{item.name}}</td>
					<td>{{item.Math}}</td>
					<td>{{item.Chinese}}</td>
					<td>{{item.English}}</td>
					<td>{{item.Math + item.Chinese + item.English}}</td>
				</tr>
			</tbody>
		</table>

	</div>
	<script src="js/vue.js"></script>
	<script>
		var scores = [
			{ name: 'Bob', class: '三年级2班', Math: 97, Chinese: 89, English: 67 },
			{ name: 'Tom', class: '三年级1班', Math: 67, Chinese: 52, English: 98 },
			{ name: 'Jerry', class: '三年级2班', Math: 72, Chinese: 87, English: 89 },
			{ name: 'Ben', class: '三年级1班', Math: 92, Chinese: 87, English: 59 },
			{ name: 'Chan', class: '三年级3班', Math: 47, Chinese: 85, English: 92 },
		]

		scores.forEach(function (item) { item.active = false; });

		let app = new Vue({
			el: '#app',
			data: {
				// 原始数组
				rawScores: scores,
				// 展示数组
				scores,
				formData: {
					name: '',
					class: '三年级1班',
					Math: '',
					Chinese: '',
					English: '',
					active: false,
				},
				sortflag: -1,
				keyClass: '',
				keyName: '',
				subject: 'Math',
				min: '',
				max: '',
			},
			methods: {
				insertHandle() {
					// 扩展运算符，生成一个干净的纯对象
					this.scores.push({ ...this.formData });
					// 清空
					this.formData = {
						name: '',
						class: '三年级1班',
						Math: '',
						Chinese: '',
						English: '',
						active: false,
					}
				},
				// 各学科排序
				sortHandle(cls) {
					var self = this;
					this.scores.sort(function (itemA, itemB) {
						if (itemA[cls] >= itemB[cls]) {
							return self.sortflag;
						} else {
							return -self.sortflag;
						}
					});
					this.sortflag = -this.sortflag;
				},
				// 搜索
				searchHandle() {
					var self = this;
					this.scores.forEach(function (item) {
						if (item.name == self.keyName && item.class == self.keyClass) {
							item.active = true;
						} else {
							item.active = false;
						}
					});
				},
				// bug:新生成的学生，没有active
				// 附加题
				filterHandle() {
					var self = this;
					let result = this.rawScores.filter(function (item) {
						return item[self.subject] > self.min && item[self.subject] < self.max;
					});
					this.scores = result;
				},
			}
		})
	</script>
</body>

</html>