.counter {
	display: flex;
	align-items: center;
	width: 200px;
}

.counter .decrease,
.counter .increase {
	padding: 6px 20px;
	border: 1px solid #999999;
	border-radius: 3px;
	font-size: 18px;
}

.counter .decrease {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.counter .increase {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.counter .number {
	padding: 6px;
	text-align: center;
	min-width: 100px;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}
