<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="lib/boostrap/css/bootstrap.min.css">
	</head>

	<body>
		<div id="app" class="container">
			<div class="panel panel-default">
				<div class="panel-heading">留言板</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<label for="nickname">昵称：</label>
							<input type="text" class="form-control" v-model="form.nickname" placeholder="请填写昵称">
						</div>
						<div class="form-group">
							<label for="message">留言：</label>
							<textarea class="form-control" v-model="form.message" rows="3"></textarea>
						</div>
						<button @click="handlePost" type="button" class="btn btn-primary">发表留言</button>
					</form>
				</div>
			</div>
			<!-- 留言列表 -->
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">最新留言</div>
				<!-- List group -->
				<ul class="list-group">
					<li v-for="msg in msgList" class="list-group-item">
						<h5><span class="text-primary">{{msg.nickname}}</span> 说:</h5>
						{{msg.message}}
						<div class="clearfix">
							<button type="button" class="btn btn-link pull-right">删除</button>
							<button type="button" class="btn btn-link pull-right">编辑</button>
						</div>
					</li>
				</ul>
			</div>
			<nav class="text-right" aria-label="Page navigation">
				<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<script src="./lib/vue/vue.js"></script>

		<script type="text/javascript">
			var app = new Vue({
				el: "#app",
				data: {
					form: {
						nickname: "",
						message: "",
					},
					msgList: [{
						nickname: "黄小米",
						message: "Hello Vue!",
					}],
				},
				methods: {
					handlePost: function() {
						// 深拷贝、浅拷贝
						var copy = JSON.parse(JSON.stringify(this.form));
						this.msgList.unshift(copy);
					}
				}
			});
		</script>
	</body>

</html>
