<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
	</head>

	<body>
		<div id="app">
			<fieldset id="">
				<legend>非变异方法</legend>
				<ol>
					<li>非变异方法：不会改变原始数组，计算完成返回新数组</li>
					<li>filter、concat、slice、map</li>
				</ol>
				<p>
					数组：<b v-for="item in arr">{{item}} </b>
				</p>
				<p>
					结果：<b v-for="item in result">{{item}} </b>
				</p>
				<p>
					<button v-on:click="handleFilter" type="button">筛选大于70的数字</button>
					<button type="button">筛选小于60的数字</button>
				</p>
			</fieldset>
			<fieldset id="">
				<legend>简单数组，直接赋值，view不更新</legend>
				<ol>
					<li>纯数字数组，纯字符串数组，直接赋值，view不更新</li>
					<li>$set方法，强制更新view</li>
					<li>$set(数组名称,索引,新数值)</li>
				</ol>
				<ul>
					<li v-for="(item,index) in arr">
						{{item}}
						<button v-on:click="handleRandom(index)" type="button">随机生成</button>
					</li>
				</ul>
			</fieldset>
		</div>
		<script src="lib/vue/vue.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: "#app",
				data: {
					arr: [65, 38, 94, 78, 65, 89],
					result: [],
				},
				methods: {
					handleFilter: function() {
						this.result = this.arr.filter(function(item, index) {
							return item > 70;
						});
					},
					handleRandom: function(i) {
						var x = Math.floor(Math.random() * 100);
						// $set内部方法，强制更新view
						this.$set(this.arr, i, x);
					}
				}
			});
		</script>
	</body>

</html
