<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<script src="lib/vue/vue.js"></script>
	</head>

	<body>
		<fieldset id="">
			<legend>非变异方法</legend>
			<ol>
				<li>非变异方法：不会改变原始数组，计算完成返回新数组</li>
				<li>filter、concat、slice、map</li>
			</ol>
			<div id="app1">
				<p>
					数学成绩：
					<b v-for="item in score"> {{item}} </b>
				</p>
				<p>
					筛选结果：
					<b v-for="item in result"> {{item}} </b>
				</p>
				<button @click="handleFilter" type="button">筛选大于60的成绩</button>
				<p>
					转化等级：
					<b v-for="item in grade"> {{item}} </b>
				</p>
				<button @click="handleGrade" type="button">转化等级</button>
			</div>
			<script type="text/javascript">
				var app1 = new Vue({
					el: "#app1",
					data: {
						score: [65, 38, 98, 78, 12, 65, 34, 29, 56],
						result: [],
						grade: [],
					},
					methods: {
						handleFilter: function() {
							this.result = this.score.filter(function(item) {
								return item > 60;
							});
						},
						handleGrade: function() {
							this.grade = this.score.map(function(item) {
								if (item < 60) {
									return 'D';
								}
								if (item >= 60 && item < 75) {
									return 'C';
								}
								if (item >= 75 && item < 85) {
									return 'B';
								}
								if (item >= 85) {
									return 'A';
								}
							});
						}
					}
				});
			</script>
		</fieldset>

		<fieldset id="">
			<legend>简单数组，直接赋值，view不更新</legend>
			<ol>
				<li>纯数字数组，纯字符串数组，根据索引直接赋值，view不更新</li>
				<li>$set方法，强制更新view</li>
				<li>$set(数组名称,索引,新数值)</li>
			</ol>
			<div id="app2">
				<ul>
					<li v-for="(item,index) in arr">
						{{item}} <button @click="handleRandom(index)" type="button">？</button>
					</li>
				</ul>
			</div>
			<script type="text/javascript">
				var app2 = new Vue({
					el: "#app2",
					data: {
						arr: [21, 35, 48, 68, 46, 98, 87, 32]
					},
					methods: {
						handleRandom: function(i) {
							// 随机生成 [10-100)
							var x = Math.floor(Math.random() * 90 + 10);
							// 根据索引强制更新view
							this.$set(this.arr, i, x);
						}
					}
				});
			</script>
		</fieldset>
	</body>

</html
