.counter {
	display: flex;
	align-items: center;
	margin: 6px;
}

.counter button {
	width: 40px;
	height: 40px;
	font-size: 20px;
	background-color: #eee;
	border: 0;
	outline: 0;
}

.counter input {
	width: 40px;
	height: 30px;
	text-align: center;
	padding: 4px;
	outline: 0;
	border: 1px solid #EEEEEE;
}
