.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	transition: all 1s;
}

.item .checkbox {
	width: 14px;
	height: 14px;
	border: 1px solid #999999;
	border-radius: 3px;
	position: relative;
	text-align: center;
}

.item .checkbox.checked::after {
	position: absolute;
	top: -2px;
	left: 0;
	content: "√";
	display: inline-block;
	width: 16px;
	height: 16px;
	color: blue;
	font-size: 20px;
}

.item .text {
	flex: 1;
	margin: 0 10px;
	color: black;
	font-size: 14px;
}

.item .timestamp {
	width: 120px;
	padding-right: 10px;
	color: #999;
}

.item .action {
	padding: 5px 10px;
}
