/* 标签选择器，范围大，一般不要单独使用 */
p {
	color: red;
	font-size: 24px;
}

div {
	font-size: 12px;
}

table {
	width: 100%;
}

/* 类选择器 */
.list {
	color: blue;
}

/* 后代选择器 */
.list li {
	font-size: 42px;
}

.list li .job {
	color: #333;
	font-size: 32px;
}

/* 允许跳级 不要大于3级 */
.list .works {
	color: deeppink;
	font-size: 24px;
}

/* 子元素选择器 */
.list>li>p>.works {}

.list p>.works {}

/* 相邻兄弟选择器 */
.job+p {}

/* ID选择器 */
#content {}

/* 属性选择器 */
input[type="radio"] {}

input[name="sex"] {}
