<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<title>表格操作</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>

	<body>
		<div id="app" class="bg-grey pd20">
			<div class="table_box pd20 bg-white">
				<form class="form-inline">
					<div class="form-group">
						<label for="">添加：</label>
						<input type="text" class="form-control" v-model.trim="formData.name" placeholder="姓名">
					</div>
					<div class="form-group">
						<input type="number" class="form-control" v-model.trim="formData.age" placeholder="年龄">
					</div>
					<div class="form-group">
						<button type="button" @click="handleAdd" class="btn btn-info">添加</button>
					</div>
					<div class="form-group">
						<label for="">变色：</label>
						<button type="button" @click="isOpen = ! isOpen" :class="{'btn-danger':isOpen}" class="btn btn-info">{{isOpen?"关闭":"开启"}}移入变色</button>
					</div>
				</form>
				<br />
				<!--表格-->
				<table class="table table-bordered" :class="{'table-hover':isOpen}">
					<thead>
						<tr>
							<td>
								<input type="checkbox" v-model="checkAll" /> {{checkAll}}
							</td>
							<td>ID</td>
							<td>姓名</td>
							<td>年龄</td>
							<td>操作</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item,index) in lists" :class="{info:item.highlight}">
							<td>
								<input type="checkbox" v-model="item.checked" />
							</td>
							<td>{{index + 1}}</td>
							<td>{{item.name}}</td>
							<td>{{item.age}}</td>
							<td>
								<a @click.prevent="delHandle(index)">删除</a>
							</td>
						</tr>
					</tbody>
				</table>
				<!--尾部操作-->
				<form class="form-inline" action="" method="">
					<div class="form-group">
						<label for="">搜索：</label>
						<input type="text" class="form-control" v-model.trim="keyword" placeholder="姓名">
						<button type="button" class="btn btn-info" @click="searchHandle">搜索</button>
					</div>
					<div class="form-group">
						<label for="">排序：</label>
						<button type="button" class="btn btn-info" @click="handleSort">年龄{{isASC>0?'从小到大':'从大到小'}}排序</button>
					</div>
				</form>
			</div>
		</div>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var data = [{
				id: 1,
				name: "张三",
				age: 32
			}, {
				id: 2,
				name: "王五",
				age: 28
			}, {
				id: 3,
				name: "赵四",
				age: 26
			}, {
				id: 4,
				name: "黄渤",
				age: 45
			}];
			// 添加修饰数据
			data.forEach(function(item, index) {
				// 复选框状态
				item.checked = false;
				// 搜索高亮
				item.highlight = false;
			});
			var app = new Vue({
				el: "#app",
				data: {
					lists: data,
					//开启移入变色
					isOpen: false,
					//表单
					formData: {
						name: '',
						age: '',
						highlight: false,
						checked: false,
					},
					keyword: '',
					// 排序
					isASC: 1,
				},
				computed: {
					checkAll: {
						// 写/设置
						set(newValue) {
							// tr的复选框与newValue保持一致
							this.lists.forEach((item) => { item.checked = newValue });
						},
						// 读/获取
						get() {
							// 检测tr的选中状态
							return this.lists.every((item) => item.checked);
						}
					}
				},
				methods: {
					handleAdd: function() {
						// 表单验证

						// 添加数据
						this.lists.push({ ...this.formData });
						// 清空表单
						this.name = '';
						this.age = '';
					},
					//删除数据
					delHandle: function(i) {
						this.lists.splice(i, 1);
					},
					//排序
					handleSort: function() {
						var self = this;
						this.lists.sort(function(a, b) {
							if (a.age > b.age) {
								return self.isASC;
							} else {
								return -self.isASC;
							}
						});
						this.isASC = -this.isASC;
					},
					//搜索keyword
					searchHandle: function() {
						var self = this;
						this.lists.forEach(function(item, index) {
							item.highlight = false;
							if (item.name == self.keyword) {
								item.highlight = true;
							}
						});
					}
				}
			});
		</script>
	</body>

</html>
