@charset "utf-8";
.box {
	width: 100%;
	margin: 0 auto;
}

.title {
	padding: 0 30px;
	font-size: 14px;
	/*font-weight: bold;*/
	line-height: 30px;
	color: #999999;
}

.itemBox {
	position: relative;
	margin: 0 20px 20px 20px;
	height: 64px;
	background-color: #f7f7f7;
	border-right: 1px solid #55b651;
	border-radius: 5px;
	overflow: hidden;
}

.item {
	position: absolute;
	top: 0;
	left: 0;
}

.item_re {
	position: relative;
	background-color: #f7f7f7;
	height: 64px;
}

.canSee {
	width: 1239px;
	height: 100%;
}

.head_logo {
	width: 25%;
	padding-left: 20px;
}

.head_logo img {
	width: 50px;
	height: 50px;
	margin-top: 8px;
	float: left;
	display: block;
}

.item_info {
	width: 50%;
	padding-top: 10px;
}

.item_info p {
	font-size: 14px;
	color: #000000;
	margin: 3px 0 6px 0;
	text-align: left;
}

.item_info p span {
	color: #cccccc;
	font-size: 12px;
	display: inline-block;
	margin-left: 10px;
}

.item_info .am-text-truncate {
	color: #7a7a7a;
	font-size: 12px;
}

.type {
	float: right;
	line-height: 50px;
	color: #5ab651;
	margin-top: 10px;
	padding-right: 20px;
	text-align: right;
	font-size: 16px;
}

.canNotSee {
	position: absolute;
	right: -496px;
	top: 0;
	width: 496px;
}

.noPass {
	width: 248px;
	float: left;
	background-color: #efeff4;
	color: #e64340;
	text-align: center;
	line-height: 64px;
}

.Pass {
	width: 248px;
	float: left;
	background-color: #55b651;
	color: #fff;
	text-align: center;
	line-height: 64px;
}