<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="component/Counter/index.css" />
	<link rel="stylesheet" type="text/css" href="component/Modal/confirm.css" />
</head>

<body>
	<h3>作业要求：参照iview的<a href="http://v1.iviewui.com/components/modal">Modal组件</a>，完成下列功能：</h3>
	<div id="app">
		<table width="100%" border="1" cellpadding="20">
			<thead>
				<tr>
					<th>
						<input type="checkbox" v-model="checkAll">
					</th>
					<th>#</th>
					<th>书名</th>
					<th>作者</th>
					<th>价格</th>
					<th>数量</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody align="center">
				<tr v-for="(book,index) in books" v-bind:key="book.id">
					<th>
						<input type="checkbox" v-model="book.isChecked">
					</th>
					<td>{{book.id}}</td>
					<td>{{book.name}}</td>
					<td>{{book.author}}</td>
					<td>￥{{book.price}}</td>
					<td>
						<counter :count.sync="book.num"></counter>
					</td>
					<td>
						<button v-on:click="handleShowModal(index)" type="button">×</button>
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			总共选择<span class="red">{{total}}</span>本书，总共花费<span class="red">{{cost}}</span>元
		</p>
		<!-- 模态框 -->
		<confirm @confirm="handleConfirm" :show.sync="isVisible" title="确认删除" message="确定要删除此商品吗？">
		</confirm>
	</div>

	<ol>
		<li>封装一个confirm-modal组件，样式参照截图，注意附带黑色遮罩！</li>
		<li>点击"删除"按钮，打开模态框，确认是否删除</li>
		<li>模态框的标题、内容能够自定义</li>
		<li>点击"确定"，触发confirm事件，关闭弹窗，alert删除成功！</li>
		<li>点击"取消"，"×"按钮，均关闭模态框</li>
	</ol>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="component/Counter/index.js"></script>
	<script src="component/Modal/confirm.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: "#app",
			data: {
				books: [
					{ id: 1, author: '曹雪芹', name: '红楼梦', num: 1, price: 32.0, checked: false },
					{ id: 2, author: '施耐庵', name: '水浒传', num: 2, price: 30.0, checked: false },
					{ id: 3, author: '罗贯中', name: '三国演义', num: 1, price: 24.0, checked: false },
					{ id: 4, author: '吴承恩', name: '西游记', num: 2, price: 20.0, checked: false }
				],
				isVisible: false,
				current: '',
			},
			computed: {
				checkAll: {
					set: function (val) {
						this.books.forEach(function (item) {
							item.isChecked = val;
						});
					},
					get: function () {
						// 已选中的复选框
						var num = this.books.reduce(function (total, item) {
							if (item.isChecked) {
								return total + 1
							} else {
								return total + 0;
							}
						}, 0);
						return this.books.length == num;
					}
				},
				total: function () {
					return this.books.reduce(function (total, item) {
						if (item.isChecked) {
							return total += item.num;
						} else {
							return total;
						}
					}, 0);
				},
				cost: function () {
					return this.books.reduce(function (total, item) {
						if (item.isChecked) {
							return total += item.num * item.price;
						} else {
							return total;
						}
					}, 0);
				}
			},
			methods: {
				// 显示删除模态框
				handleShowModal: function (i) {
					// 记录当前操作的商品索引
					this.current = i;
					// 显示模态框
					this.isVisible = true;
				},
				// 确认删除操作
				handleConfirm: function () {
					// 删除
					this.books.splice(this.current, 1);
				}
			},
		});
	</script>
</body>

</html>